<div id="home">
  <home></home>
</div>
<%= stylesheet_pack_tag 'home', media: 'all' %>
<%= javascript_pack_tag 'home' %>
<script>
  $(document).ready(function () {
    vue_rails_boilerplate.initHome('#home');
  })
</script>